@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "node_modules/bulma/sass/utilities/derived-variables.sass";
$navbar-background-color: $grey-light;
$navbar-item-hover-color: $black;
$tabs-link-active-color: $black;
$tabs-link-active-border-bottom-color: $black;
$tabs-border-bottom-color: $grey;
$grey-light-invert: findColorInvert($grey-light);
$addColors: ( "grey":($grey-light, $grey-light-invert));
$colors: map-merge($colors, $addColors);